.rows{
    display:flex;
}

input{
    border:solid ;
    border-color:#86d0ce;
}

.input_text{
    width: 765px;     /* You can set this to any value (px, %, em, etc.) */
    height: 40px;     /* Adjusts the height of the textbox */
    padding: 5px;     /* Optional: adds space inside the box */
    font-size: 16px;  /* Optional: adjusts text size */
    box-sizing: border-box; /* Ensures padding is included in width/height */

}

.right-side {
  align-self: flex-start; /* Align to top of left-side */
}


label{
    float:left;
    display:block;
}

.boxes{

    display:block;
    margin-right: 10px;
}

.units-input {
  display: inline-flex; /* puts the input and 'min' side by side */
  align-items: center;  /* vertically aligns them */
  gap: 8px;             /* space between input and "min" */
}

.information {
  color: #333;
}

button{
    position:relative;
    
}

.parent{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
  padding: 60px 20px;
}


.left-side, .right-side {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  flex: 1 1 400px;
  max-width: 600px;
}

.right-side{
    right: 50%;
    flex: 1; 
}


button{
    border-radius: 8px;
    background-color:#009c99;
    border-color:#009c99;
    color:white;
    margin-bottom:20px;
    padding:5px;
}

.search-box{
    margin-top:5px;
    padding:3px;
    border-radius:8px;
    
}

#myFile{
    margin-bottom:20px;
}

form{
    width:100vh
}

main{
    margin:auto;
}
* {
    font-size:30px;
}

h1{
    font-size:40px;
}

